{{#if isMatch}}
  <label>Password
    {{input type="password" value=password placeholder="Password"}}
  </label>
  <label>Password Again
    {{input type="password" value=passwordAgain placeholder="Password Again"}}
  </label>
{{else}}
  <label>Password
    {{input type="password" class="noMatch" value=password placeholder="Password"}}
  </label>
  <label>Password Again
    {{input type="password" class="noMatch" value=passwordAgain placeholder="Password Again"}}
  </label>
{{/if}}
