
<div class="row">
  <div class="small-1 columns"></div>
  <div class="small-4 columns">
    <h4 class="title">Current Auctions:</h4>
  </div>
  <div class="small-4 columns">
    <select onchange={{action "selectCategory" value="target.value"}}>
      {{#each categories as |categoryChoice|}}
        <option value={{categoryChoice}} selected={{eq category categoryChoice}}>{{categoryChoice}}</option>
      {{/each}}
    </select>
  </div>
  <button class="button small-2" {{action 'newAuction'}}>Create Auction</button>
  <div class="small-1 columns"></div>
</div>

<div class="row">
  <div class="small-1 columns"></div>
  <ul class="list-jobs small-10 columns">
    <li class="small-12 job-link list-item-one list-item-header">
      <span class="columns small-4">Title</span>
      <span class="columns small-4">Category</span>
      <span class="columns small-4">Current Bid:</span>
    </li>
    {{#each model.auctions as |auction|}}
      {{#link-to 'auction' auction.id tagName='li' class="small-12 job-link list-item-one" }}
        <div class="row">
          <span class="columns small-4 list-item-span">{{auction.title}}</span>
          <span class="columns small-4 list-item-span">{{auction.category}}</span>
          <span class="columns small-4 list-item-span">{{if auction.noBid "No Bid" auction.currentBid}}</span>
        </div>
      {{/link-to}}
    {{else}}
      <li class="small-12 job-link list-item-one">
        No auctions to display.
      </li>
    {{/each}}
    <li class="small-12 job-link list-item-one list-item-footer"></li>
  </ul>
  <div class="small-1 columns"></div>
</div>
